@model IEnumerable<WOA.Models.ListingListItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListingId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Availability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.condition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.timePeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePosted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ListingId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Availability)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.condition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.timePeriod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatePosted)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ListingId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ListingId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ListingId })
                </td>
            </tr>
        }
    </tbody>
</table>
